.grid-text-input {
    width: 70px;
}

.grid-input-pair {
    display: inline-flex;
}

.grid-input-pair span {
    margin-left: 5px;
}

.mb-1 {
    margin-bottom: 1rem;
}
.va-top {
    vertical-align: top!important;
}
